<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C0658DBE1A76CBD8002F7A84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0DC41CB1A7072670067156A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0DC42051A7079D00067156A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E879D9C61A12AA120035E2EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8AB71DB19BA503500F3EDB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8AB720919BA503B00F3EDB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8AB723719BA504000F3EDB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8AB726519BA504500F3EDB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8AB729319BA504900F3EDB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8BDBFA01A116FAC00450CFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
